[Unit]
Description=Daily MemeBox database backup

[Timer]
OnCalendar=*-*-* 03:35:00 UTC
RandomizedDelaySec=20m
Persistent=true

[Install]
WantedBy=timers.target
